body {
    font-family : 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 30px;
    overflow: visible;
    margin-right: 30px;
    position: relative;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

#mr {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
    object-fit: cover;
    align-self: center;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin: 0 0 10px;
}

.card-content p {
    font-size: 14px;
    color: #555;
}

.card-content a {
    margin-top: -40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffc400;
    padding: 10px 110px;
    border-radius: 35px;
}

 #tre {
    color: #000000;
    font-size: 30px;
    width: fit-content;
    margin-left: 260px;
}

#Morgan {
    color: #222222;
    margin: 0 0 2px 0;
    font-weight: 600;
    text-align: center;
}

#ant {
    color: #504949;
    text-align: center;
}

#follow {
    color: #504949;
    text-align: left;
    margin: 0;
    margin-left: 60px;
}

#ññ{
    color: #0b91b3;
    text-align: left;
    margin: 0;
    margin-left: 65px;
}

#following {
    color: #504949;
    text-align: right;
    margin: 0;
    transform: translateY(-55px);
    margin-right: 60px;
}

#ñññ{
    color: #0b91b3;
    text-align: right;
    margin: 0;
    transform: translateY(-55px);
    margin-right: 50px;
}

#morgan {
    text-align: justify;
    color: #504949;
    margin-top: 30px;
}